<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>


<header>
    <div class="profile-container">
        <img src="anna.png" alt="Profile Picture" class="profile-picture">
        <h1>Anna</h1>
    </div>
    
</header>



<div class="chat-container">

    <div class="chat-bubble">
        Hallå där! Är du upptagen?
    </div>
    <div class="chat-bubble">
        Är lite stressad så jag tar detta snabbt. Jag nämligen fått ett otroligt erbjudande att sitta barnvakt för en familj ute i skogen...
    </div>
    <div class="chat-bubble">
        ...och jag vet inte om jag ska tacka ja eller nej. Vad tycker du?
    </div>
    <div class="chat-bubble">
        De betalar så otroligt bra så jag tackar nog ja ändå! Men jag behöver följa massor med regler så jag skriver till dig senare så du kan hjälp till! ciao!
    </div>
</div>

<div class="button-container">
    <button id="button1"> Nämen vafan sluta Anna gå därifrån!</button>
    <button id="button2">jaa det är ju mycket pengar...</button>
    <button id="button3">Åh bästa då kan du bjuda mig på middag sen! </button>
</div>


</body>
<script src="app.js" defer></script>

</html>